.container1 {
    padding-top: 90px !important;
    width: 88%;
    margin:10px auto;
    display: grid;
    gap:10px;
    grid-template-columns: 0.5fr 1.3fr 0.3fr;
}


body {
    background-color: #ECF0F0;
}


.box1 {
    position: relative;
    display: block;
    margin-bottom: 10px;
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    width: 300px;
    height: 133px;
    padding-top: 10px;
}

.box1 h1 {
    text-align: center;
    font-size: 16px;
    padding-bottom: 10px;
    border-bottom: 1px solid #ddd;

    color: rgb(46, 45, 45);

}

.links {
    display: flex;
    margin-top: 13px;
    justify-content: center;
}

.links a {
    text-decoration: none;
    color: #06c;
    font-weight: 600;
}

.linksf {
    font-size: 1.5em;
    margin-bottom: -5px;
    border-radius: 4px;
    margin-left: 7px;
    color:#3c5a98;
}


 
.link2 {
    margin-top: 19px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.link2 a{
    width: 145px;
    height: 38px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    background-color: #fff;
    color: #ff1000;

    text-decoration: none;
    text-align: center !important;
}

.box2 a:hover{
    background-color: red;
    color: white;
    transition: all 0.2s ease-in;
}

.center {
    display: block;
    width: 100%;

}
.box3 h1{
    font-size: 1.9em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    margin-bottom: 30px;
    text-align: center;
}
.box44 {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #ddd;
padding:10px;
margin-bottom: 20px;
}
.box4 {
    border: 1px solid #ddd;
width: 54vw;
    background-color: white;
   
}

.box4 h3 {
    font-size: 1em;
    color: #222;
}


.box4 p {
    color:#06c;
    cursor: pointer;
}


/* Swiper */

.swiper {
    width: 100%;
    height: 100%;
  }
  
  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
  
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }
  
  .swiper-slide img {
    display: block;
    height: 200px !important;
    width: 140px;
    object-fit: cover;
  }
  



 .box5 p {
     color:#06c;
     font-size: 17px;
     display: block;
     line-height: 20px;
     margin: 0;
     margin-top: 8px;
     margin-bottom: 15px;
     padding: 0;
     text-align: center;
 }


 .right1 {
 }