.navbar {
    display: flex;
    justify-content: space-between;
    margin-top:22px !important;
    width: 85%;
    margin: 0 auto;
    margin-bottom:12px !important;
}

.header1 {
    background: #f9f9f9;
    z-index: 30;
    position: fixed;
    width: 100%;
    border: none;
    box-shadow: 1px 0 2px 1px #ddd;
    top: 0;
}
 
.nav-menu {
    display: flex;
}

.nav-item {
    list-style: none;
}
.left {
    display: flex;
}
.right {
    display: flex;
}

.nav-icon {
    display: none;
}

.nav-link {
    text-decoration: none;
}

.first {
    background-color: #00a1cb;
    border: 0;
    border-radius: 4px;
    line-height: 24px;
    padding: 9px 12px;
    font-weight: 400;
    margin-right: 50px;
    color: #fff!important;
    font-size: 16px;
}

.user1 {
    margin-left: 5px;
}

.second {
    background: #10bf46;
    border: 0;
    border-radius: 4px;
    padding: 9px 12px;
    font-weight: 400;
    color: #fff!important;
    font-size: 16px;
}

.inp {
    width: 40vw;
    height: 38px;
    margin: -7px 0 0 25px;
    padding: 5px 5px 5px 30px;
    border-radius: 4px;
    line-height: 35px;
    font-size: 15px;
    font-weight: 500;
    color: #444;
    background-color: #fff;
    border: solid 1px #bbb;
}

.in {

    display: flex;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
}

.sea {
    color: #444;
    font-weight: 700;
    font-size: 16px;
    margin-right: -50px;
    margin-top: -4px;
}

.logo {
    margin-top: -2px;
}


.img01 {
    width: 37px;
    height: 37px;
    border-radius: 50%;
    margin-left: 20px;
    margin-top: -5px !important;
}

.img02 {
    color: rgb(65, 61, 54);
    margin-top: 40px !important;
    cursor: pointer;
}
.search2{
    display: none;
}
.search-click {
    display: none;
}
 
  
@media screen and (max-width:1000px) {
    .navbar {
        width: 96%;
    }
}
 
.first:hover {
    opacity: 0.7;
    transition: all 0.2s ease-in;
}

.second:hover {
    opacity: 0.7;
    transition: all 0.2s ease-in;
}
@media screen and (max-width:790px) {
    .first {
    margin-right: 12px;

    }
}

@media screen and (max-width:712px) {
    .in {
       display: none;

    }

    .search2 {
        display: block;
        font-size: 15px;
        margin-right: 20px;
        margin-left: 10px;
        cursor: pointer;
        margin-right: -10px;
        z-index: 100;
        position: fixed;
        margin-top: 4px;
        
    }

    .search-click {
        display: block;
        width: 100px;
        height: 40px !important;
        padding: 15px;
        margin-top: -9px;
        transition: all 0.01s;
        z-index: 1;
        padding-left: 30px;
        border: solid 1px #bbb;

        margin-right: 5px;
    }
      .search-click:focus {
        width: 310px;
        padding-left: 30px;
        position: fixed;
      }
      .search-click {
        position: relative;
        overflow: hidden;
        height: 30px;
      }
      .search-click input {
        background: transparent;
        border: solid 1px #bbb;

        outline: none;
        position: absolute;
        z-index: 300;
        width: 300px;
        height: 50px;
        left: 0%;
        padding: 10px;
      }
}

@media screen and (max-width:514px) {
    .second {
       display: none;

    }
}
@media screen and (max-width:420px) {
    .second {
       display: none;

    }
}

@media screen and (max-width:333px) {
    .search2 {
        margin-left: 9px;
        margin-right: 10px;

    }
}


@media screen and (max-width:383px) {
    .first {
       display: none;

    }
    .search-click { 
        width: 140px;
    }
}
